@model ShoppingManagement.UI.DTO.OrderDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                @* <label asp-for="emp" class="control-label"></label> *@
                <label class="control-label">Customer</label>
                <select asp-for="CustomerId" asp-items="@Model.Customers" class="form-control">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Designation" class="control-label"></label> *@
                <label aclass="control-label">Product</label>
                <select asp-for="ProductId" asp-items="@Model.Products" class="form-control">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Designation" class="control-label"></label> *@
                <label aclass="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
